body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*Column Stuff--------------------------------------------------------------------------*/
.column {
    float: left;
    padding: 10px;
    height: 800px;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 65%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/*Column Stuff--------------------------------------------------------------------------*/

/*Container Stuff--------------------------------------------------------------------------*/
.container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*Container Stuff--------------------------------------------------------------------------*/


h1, h2, h3 {
    margin: 0;
}

.header {
    text-align: center;
}

.name {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

/*Contact Stuff--------------------------------------------------------------------------*/
.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}
/*Contact Stuff--------------------------------------------------------------------------*/

.education {
    margin-bottom: 20px;
}

.education-info p {
    margin: 5px 0;
}

/*Section Stuff--------------------------------------------------------------------------*/

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section li {
    margin-bottom: 10px;
}

.section li strong {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}
/*Section Stuff--------------------------------------------------------------------------*/